<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web-student-tracker</display-name>

  <servlet>
    <servlet-name>SignIn</servlet-name>
    <jsp-file>/view/signin.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>UpdateStudent</servlet-name>
    <jsp-file>/view/update-student.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <jsp-file>/view/update-user.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <jsp-file>/view/add-student.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <jsp-file>/view/signup.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ListStudents</servlet-name>
    <jsp-file>/view/list-students.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.epam.finalproject.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/update-student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/update-user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/add-student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListStudents</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>XSSFilter</filter-name>
    <filter-class>com.epam.finalproject.controller.filter.XSSFilter</filter-class>
  </filter>
  <filter>
    <display-name>NoCacheFilter</display-name>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.epam.finalproject.controller.filter.NoCacheFilter</filter-class>
  </filter>
  <filter>
    <filter-name>CharacterSetFilter</filter-name>
    <filter-class>com.epam.finalproject.controller.filter.CharacterSetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
<filter-mapping>
  <filter-name>NoCacheFilter</filter-name>
  <url-pattern>/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
</filter-mapping>
  <filter-mapping>
    <filter-name>CharacterSetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>view/signin.jsp</welcome-file>
    <welcome-file>/ControllerServlet</welcome-file>
    <welcome-file>view/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>